{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-13 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="{{ "/docs-se/overview/introduction/" }}" role="button">{{ site.Language.Params.navBarButtonText }}</a>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="{{ site.Params.latestAssetUrl }}" role="button">Download the package</a>
      <p class="meta">Open-source <a href="{{site.Params.projectUrl}}blob/master/LICENSE" target="_blank" rel="noopener">Apache-2.0 License</a>. {{ site.Params.projectName }} <a href="{{ site.Params.LinkTolatestVersionReleaseNotes }}">{{ site.Params.latestAssetVersion }}</a></p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Open</h2>
          <p>
            LDAPCP is completely free and <a href="https://github.com/Yvand/LDAPCP" target="_blank">open source</a>.<br>
            It collects <a href="{{ "privacy-policy/" | relURL }}">no data or telemetry</a>.<br>
            Total downloads: <span id="TotalDownloadCount">-</span><br>
            Downloads of latest version: <span id="LatestReleaseDownloadCount">-</span>
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Top features</h2>
          <p class="text-left">
            Fixes the search in the people picker.<br>
            Gets group membership (augmentation).<br>
            Connects to multiple AD/LDAP directories.<br>
            Compatible with all the supported versions of SharePoint Server.
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Highly customizable</h2>
          <p>
            Administrators can configure and customize many things, through PowerShell or administration pages.
          </p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get_started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
