{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/overview/introduction/" | relURL }}" role="button">Get started</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.Data.project.latestAssetUrl }}" role="button">Download {{ .Site.Data.project.name }}</a>
      <p class="meta">Open-source <a href="{{.Site.Data.project.projectUrl}}blob/master/LICENSE" target="_blank" rel="noopener">Apache-2.0 License</a>. {{ .Site.Data.project.name }} <a href="{{ .Site.Data.project.latestReleaseUrl }}" target="_blank" rel="noopener">v{{ .Site.Data.project.latestReleaseTagName }}</a>.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Open</h2>
        <p>
          LDAPCP is completely free and <a href="https://github.com/Yvand/LDAPCP" target="_blank">open source</a>.<br>
          It collects <a href="{{ "privacy-policy/" | relURL }}">no data or telemetry</a>.<br>
          Total downloads: <span id="TotalDownloadCount">-</span><br>
          Downloads of latest version: <span id="LatestReleaseDownloadCount">-</span>
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Top features</h2>
        <p class="text-left">
          Fix the search in the people picker.<br>
          Get group membership (augmentation).<br>
          Query multiple AD / LDAP servers.<br>
          Compatible with all SharePoint Server versions.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Highly customizable</h2>
        <p>
          Customize the display in the people picker.<br>
          Easy to configure through PowerShell or administration pages.
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
